section {
    margin: 0 auto;
    width: 1200px;
}

/* 타이틀 */
.title {
    text-align: center;
}

/* 카테고리 */
.categorie {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 600px;
}

.categorie form a {
    margin-right: 30px;
    font-size: 17px;
    font-weight: bold;
}

.categorie form a::after {
    content: "";
    padding: 0 0.5px;
    margin-left: 30px;
    background: #6f6f6f;
}

.categorie form a:last-child {margin-right: 0;}

.categorie form a:last-child::after {
    padding: 0; margin-left: 0;
}

.cate.active{color: #B00E0E;}

/* 공연 리스트 Form */
.list_form {
    padding: 10px 20px;
    margin: 20px auto;
    width: 900px;
    background-color: #f8f8f8;
    border: 0.1px solid #bfbfbf;
    border-radius: 15px;
}

.con_list {
    display: flex;
    align-items: center;
}

.image {margin: 10px;}

.image img {
    object-fit: cover;
    border-radius: 5px;
}

.con {
    margin: 20px 0 20px 40px;
    width: 550px;
}

.status {
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 7px;
    background-color: #B00E0E;
    border: 2px solid #B00E0E;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
}

.con_title {
    margin-left: 10px;
}

.con_title p {color: #7c7c7c;}

.con_title a h3 {
    display: inline-block;
    cursor: pointer;
    margin-top: 7px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.con_title a h3:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.con_detail {
    margin-top: 10px;
    margin-left: 10px;
}

.view {
    display: flex;
    margin: 5px 0;
}

.view label {width: 120px;}

.view:last-child {margin: 0 auto;}

/* 퍼센테이지 */
.graph {
    margin-right: 25px;
    width: 150px;
    height: 150px;
    color: #fff;
    border-radius: 50%;
    background: #cf4b4b;
    text-align: center;
}

.graph_view {
    transform: translateY(80%);
}

.graph_view p {margin-bottom: 5px; font-weight: bold;}

/* 페이징 */
.page {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.page a {
    padding: 5px 10px;
    font-size: 22px;
}

.page a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.page .active {color: #B00E0E;}

/* 펀딩 만들기 버튼 */
.btn_create {
    float: right;
    margin-right: 150px;
    margin-bottom: 50px;
    padding: 10px 30px;
    background-color: #3a2c2c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn_create:hover {
    background-color: #5e5252;
}
