<!-- 메인 홈페이지 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/main/home.css" th:href="@{/css/main/home.css}">

    <!-- favicon -->
    <link rel="shortcut icon" href="img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header th:replace="/main/nav"></header>
    
    <section>
		<!-- 지정 펀딩 -->
		<div class="view top">
			<h2>지정 펀딩</h2>
			<div class="list">
				<div class="list_form" th:each="target : ${targetList}">
					<div class="con_list">
					<a href="../fundTarget/fundTargetDetail.html" th:href="@{|/fundTarget/detail/${target.id}|}">
						<div class="image">
							<div th:if="${target.imgPath != null}">
								<img th:src="${target.imgPath}">
							</div>
							<div th:if="${target.imgPath == null}">
								<img th:src="|/fundTarget/img/${target.id}|">
							</div>
						</div>
						<div class="con">
							<p th:text="${target.subject}">공연 이름</p>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- 미지정 펀딩 -->
		<div class="view bottm">
			<h2>미지정 펀딩</h2>
			<div class="list">
				<div class="list_form" th:each="boardList : ${boardList}">
					<a href="../fundBoard/fundBoard_detail.html" th:href="@{|/fundBoard/detail/${boardList.id}|}" >
						<div class="image">
							<div th:if="${boardList.imgPath != null}">
								<img th:src="${boardList.imgPath}">
							</div>
							<div th:if="${boardList.imgPath == null}">
								<img th:src="|/fundBoard/img/${boardList.id}|">
							</div>
							<div class="con">
								<p th:text="${boardList.subject}">공연 이름</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

    </section>
</body>
</html>