<!-- html -->
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<header>
    <!-- 로고 -->
    <div class="logo">
        <a href="../main/home.html" th:href="@{/}">
            <img src="/img/logo.png" alt="logo">
        </a>
        
    </div>
    
    <!-- 메뉴 -->
    <div class="menu">
        <ul>
            <li><a href="../fundTarget/fundTargetList.html" th:href="@{/fundTarget}">지정 펀딩</a></li>
            <li><a href="../fundBoard/fundBoard_list.html" th:href="@{/fundBoard/list}">미지정 펀딩</a></li>
        </ul>
    </div>
    
    <!-- 로그인 -->
    <div class="login">
        <ul>
            <li><a class="loginForm" href="../user/loginForm.html" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></li>
            <li><a class="joinForm" href="../user/userCreateForm.html" sec:authorize="isAnonymous()" th:href="@{/user/register}">회원가입</a></li>
        </ul>
        <!-- 로그인 상태일 때 -->
        <div sec:authorize="isAuthenticated()">
            <ul class="nav_user">
                <li><a href="#" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></li>
                <a class="myPage" href="/user/myInfo/">
                <li class="user_name" ></li>
                <li class="user_role" ></li></a>
            </ul>
            
            <div hidden sec:authorize="isAuthenticated()">
                <input hidden id="myInfo" class="active" th:value="${#authentication.getPrincipal().getUsername()}"/>
            </div>
        </div>
    </div>
</header>


<script>
	
	$(document).ready(function(){
		
			 $.ajax({
	            url: '/user/navMyInfo',
	            data: {
	                username: $('#myInfo').val()
	            },
	            success:
	            	function(res){
						console.log(res)
						console.log("유저네임 : "+res.userName)
						console.log(res.userRole)
						$('.user_name').html(res.userName)
						$('.user_role').html(res.userRole)
					}
					
	            ,
	            error: function(xhr) {
	                console.log(xhr);
	            }
	        })
	});
</script>