.wrap {width: 1100px;}

.payinfo {
    display: flex;
    justify-content: center;
}

.view {margin: 30px 0 10px;}

.view input {height: 30px;}

table, th, td {border: 1px solid; border-collapse: collapse;}

thead {background: #ababab;}

th {width: 200px;}
th:first-child {width: 150px;}


button {
    cursor: pointer;
    padding: 3px 6px;
    background-color: #3a2c2c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.5s;
}

button:hover {background-color: #5e5252;}
