<!-- 로그인 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding : 로그인</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/user/loginForm.css" th:href="@{/css/user/loginForm.css}">
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav -->
    <header th:replace="/main/nav"></header>

    <section>
        <div class="title">
            <h2>로그인</h2>
        </div>

        <form action="/user/login" method="post">

            <div class="int int_id">
                <label for="id">아이디</label>
                <input id="id" type="text" name="username">
            </div>

            <div class="int int_pw">
                <label for="pw">비밀번호</label>
                <input id="pw" type="password" name="password">
            </div>
            <div class="error" th:if="${param.error}">
                <P>사용자ID 또는 비밀번호를 확인해 주세요.</P>
            </div>

            <div class="sub_login">
                <input id="login" class="btn" type="submit" value="로그인">
                <a class="btn_pw" href="/user/resetPwd">비밀번호 찾기</a>
                <div class="btn_join">
                    <p>아직 회원이 아니십니까?</p>
                    <a href="../user/userCreateForm.html" th:href="@{/user/register}">회원가입</a>
                </div>
            </div>
            
        </form>
    </section>
</body>
</html>

