section {
    margin: 150px auto;
    width: 600px;
}

.title {
    margin: 40px 0;
}

textarea {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    font-size: 17px;
}

/* 버튼 */
.pay_btn {
    cursor: pointer;
    margin: 40px 0 20px 160px;
    padding: 10px 0;
    width: 300px;
    background-color: #3E3636;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.pay_btn:hover {
    background-color: #5e5252;
}