.title {padding: 30px 0;}

.payinfo {
    display: flex;
    width: 1100px;
}

table, th, td {
    box-sizing: border-box;
    cursor: default;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    padding: 5px 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

thead {background: #ababab;}

th:first-child {padding: 5px 5px;}

th:nth-child(3) {width: 300px;}
th:nth-child(5) {width: 110px;}
th:nth-child(7) {width: 110px;}
th:nth-child(8) {width: 200px;}

td {font-size: 14px;}

/* 버튼 */
button {
    cursor: pointer;
    padding: 3px 6px;
    background-color: #3a2c2c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.5s;
}

button:hover {background-color: #5e5252;}

/* 페이징 */
.page {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.page a {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.page a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.page .active {color: #B00E0E;}