section {
    display: flex;
    justify-content: center;
}

nav {
    margin-right: 50px;
    padding: 40px;
    left: 50px;
    width: 140px;
    height: 500px;
    background: #dddddd;
}

nav h3 {
    letter-spacing: 3px;
}

nav hr {margin: 10px 0;}

nav ul li {margin-bottom: 20px;}

nav ul li a {}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
