/* 사이드바 버튼 */
.sidebarbtn {
	position: fixed;
	width: 100px;
	height: 100px;
	right: -50px;
	top: 30px;
	border-radius: 10px;
	background-color: #353535;
	color: #fff;
	transition: 0.5s;
}
.sidebarbtn.active {
	transform: translateX(-240px);
}

.sidebarbtn h1 {
	cursor: pointer;
	line-height: 108px;
	text-align: left;
	margin: 0 12px;
}

/* 사이드바 */
.sidebar {
	position: fixed;
    padding: 20px;
	width: 200px;
    height: 100%;
    right: -240px;
    background-color: #353535;
    color: #fff;
    transition: 0.5s;
    z-index: 10;
}

.sidebar hr {margin: 20px 0;}
.sidebar h4 {margin-bottom: 10px;}

.sidebar.active {transform: translateX(-240px);}

/* 알림 */
.alertbox {
	display: block;
	margin: 15px 0px;
	padding: 10px;
	color: #fff;
	background-color: #666666;
	border-radius: 5px;
}

.alert a {
	font-size: 14px;
	color: #fff;
}

.alert_con {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 현재 펀딩중인 목록 */
.fundTargetList a, .fundList a {
	width: 100%;
	font-size: 14px;
	color: #fff;
}

.alert_status {
	display: inline-block;
	background-color: #888888;
	padding: 3px 10px;
	margin-top: 5px;
	border-radius: 10px;
}