<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Funding</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../static/css/fundBoard/fundBoard_form.css" th:href="@{/css/fundBoard/fundBoard_form.css}">

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon/ms-icon-310x310.png" type="image/x-icon" />
</head>
<body>
    <!-- 홈페이지 상단 nav-->
	<header th:replace="/main/nav"></header>

    <!-- 선정된 아티스트 수정 Form -->
    <section>
        <form th:object="${fundBoardForm}" method="POST">
            <!-- 타이틀 -->
            <div class="title">
                <h2>미지정 펀딩</h2>
            </div>

            <!-- 공연명 -->
            <div class="int int_title">
                <label for="subject">공연명</label>
                <input type="text" id="subject" th:placeholder="${fundBoard.subject}" readonly>
            </div>

            <!-- 공연장 -->
            <div class="int int_place">
                <label for="place">공연장</label>
                <input type="text" id="place" autocomplete="off" placeholder="장소를 입력하세요.">
                <span class="errors" style="display: none">에러출력</span>
            </div>

            <!-- 공연시간 -->
            <div class="int int_runtime">
                <label for="runtime">공연시간</label>
                <input type="number" id="runtime" autocomplete="off" placeholder="분 단위로 입력 입력하세요.">
                <span class="errors" style="display: none">에러출력</span>
            </div>

            <!-- 공연일 -->
            <div class="int int_date">
                <label for="startDateTime">공연일</label>
                <input type="datetime-local" id="startDateTime">
                <span class="errors" style="display: none">에러출력</span>
            </div>

            <button type="submit">등록하기</button>
        </form>
    </section>    
</body>
</html>